body, html {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    bottom: auto;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 30px;
}
.btn1 {
    color: black;
    text-decoration: none;
    font-size: 40px; 
    margin-left: 0px; 
}

body {
    overflow-x: hidden; 
    margin-top: 70px;
}
.video-section {
    position: cover;
    width: 100%;
    height: calc(100vh - 70px); 
    overflow: hidden;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.cta-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #7ab438;
    transform: scale(1.09);
}

.read-more-btn {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

.btn1 {
    color: black;
    text-decoration: none;
}
.intro-section {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #070202;
    font-family: 'Poppins', sans-serif;
}

.intro-text {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro-description {
    font-size: 28px;
    font-weight: 500;
    opacity: 0.8;
}
