<!DOCTYPE html>
<html>
<head>
    <title>Remote Healthcare Services</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'healthcare:home' %}">Home</a></li>
                <li><a href="{% url 'healthcare:book_appointment' %}">Book Appointment</a></li>
                <li><a href="{% url 'healthcare:patient_profile' %}">Patient Profile</a></li>
                <li><a href="{% url 'healthcare:doctor_profile' %}">Doctor Profile</a></li>
               
            </ul>
        </nav>
    </header>
    
    <main>
    </main>
</body>
</html>
