<!-- book_appointment.html -->

<a href=" {% url 'healthcare:home' %}">Home</a>
<style>
    div{
        background-color: rgb(49, 136, 15);
        justify-content: baseline;
        text-align: center;
        display: block;
        
        
        
    }
    
    .textarea{
        background-color: transparent;
        background-image: none;
        
    }
    .textarea::after{
        background-color: transparent;
    }
</style>

    <h1>Book an Appointment</h1>
<div>
    <form action="{% url 'healthcare:submit_appointment' %}" method="POST">

        <div class="form-group">
            <label for="doctor">Select Doctor:</label>
            <select name="doctor" id="doctor" class="form-control">
                <option value="joy">Dr. Joy (Psychiatry practitioner)</option>
                <option value="peter">Dr. Peter (Cardiology Expert)</option>
                <option value="david">Dr. David (Mental health practitioner)</option>
            </select>
        </div>

        <div class="form-group">
            <label for="date">Select Date:</label>
            <input type="date" name="date" id="date" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="time">Select Time:</label>
            <input type="time" name="time" id="time" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="message">Message:</label>
            <textarea name="message" id="message" class="form-control" rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Book Appointment</button>
    </form>
</div>
