{ % load static% }

<div class="doctors">
    <form>
        <p> FIll in the details here</p>

        <p> We are going to ask you for your legal authorized permits</p>
        <input type="text" placeholder="Official Name" name="officialname" required>
        <input type="text" placeholder="Last name" name="lastname" required>
        <input type="text" placeholder="Official Name" name="officialname" required>
        <input type="text" placeholder="Official Name" name="officialname" required>
        <input type="text" placeholder="Official Name" name="officialname" required>
        <input type="image" placeholder="Take a selfie" name="selfie" required>
        <input type="file" placeholder="Doctor number" name="number" required> Allowed files PDF alone

    </form>
</div>