{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'healthcare/css/style3.css' %}">
    <title>Password Reset</title>
</head>
<body>
    <h1>Password Reset</h1>
    <p>Enter your email address to reset your password.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
