<!-- patient_profile.html -->

<a href="{% url 'healthcare:home' %}">Home</a>

    <h1>Welcome,</h1>
    <h2>Patient Profile</h2>
    <div class="patient-info">
        <h3>Patient: Joy</h3>
        <ul>
            <li>Age: 28</li>
            <li>Gender: Female</li>
            <li>Email: joy@thunder.com</li>
            <li>Phone: +254712345678</li>
            <li>Address: 00100 Nairobi</li>
        </ul>
    </div>
    <div class="patient-info">
        <h3>Patient: Peter</h3>
        <ul>
            <li>Age: 42</li>
            <li>Gender: Male</li>
            <li>Email: peter@thunder.com</li>
            <li>Phone: +254712345678</li>
            <li>Address: 00100 Nairobi</li>
        </ul>
    </div>
    <div class="patient-info">
        <h3>Patient: David</h3>
        <ul>
            <li>Age: 35</li>
            <li>Gender: Male</li>
            <li>Email: david@ethunder.com</li>
            <li>Phone: +25412345678</li>
            <li>Address: 00100 Nairobi</li>
        </ul>
    </div>

